.confirmation-background {
  backdrop-filter: blur(10px);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 5;
}

.confirmation-modal {
  background-color: rgb(243, 251, 255);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: auto;
  width: 40%;
  gap: 10px;
  line-height: 100%;
  padding-block: 40px;
}

.confirmation-modal form {
  max-width: 100%;
}

.alert {
  text-wrap: wrap;
}

@media (max-width: 768px) {
  .confirmation-modal {
    min-width: 80%;
  }
}
