@import url("https://fonts.googleapis.com/css2?family=Fugaz+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Stint+Ultra+Expanded&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Stalinist+One&display=swap");

html {
  --beige: beige;
  --bright: rgba(214, 155, 155, 0.432);
}

body {
  box-sizing: border-box;
  padding: 20px;
  margin: 0;
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 1) 0%,
    rgb(213, 241, 254) 100%
  );
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

section {
  box-sizing: border-box;
  height: calc(100vh - 40px);
  width: calc(100vw - 40px);
  display: flex;
  padding: 15px;
  border: 1px;
  border-radius: 14px;
  border-style: solid;
  flex-direction: column;
  line-height: 0%;
  justify-content: space-between;
}

a {
  all: unset;
}

.cls-1 {
  fill: none;
  stroke: #000;
  stroke-miterlimit: 10;
}

#lodge1 .cls-1 {
  fill: aquamarine;
}

#lodge2 .cls-1 {
  fill: aquamarine;
}

.fill {
  fill: lightblue;
}

h1 {
  font-size: 90px;
  margin: 0;
  font-family: "Fugaz One", sans-serif;
  font-weight: 400;
  font-style: normal;
}

h2 {
  font-size: 28px;
  margin: 0;
  font-family: "Fugaz One", sans-serif;
  font-weight: 400;
  font-style: normal;
  line-height: normal;
}

h3 {
  font-family: "Stint Ultra Expanded", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
}

h4 {
  font-family: "Stalinist One", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 15px;
}

.pointer {
  cursor: pointer;
}

.header {
  display: flex;
  width: 100%;
  max-height: 15vh;
  justify-content: space-between;
}

.merge {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

.contact {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  align-items: flex-end;
}

.outline {
  border: 1px;
  border-radius: 24px;
  border-style: solid;
  padding-inline: 15px;
  padding-block: 15px;
  text-wrap: nowrap;
  background-color: rgb(0, 0, 0, 0);
}

.qrimg {
  height: 100%;
}

.midpart {
  width: 100%;
  height: 60vh;
  display: flex;
}

.midpart h1 {
  animation: light 10s infinite;
}

@keyframes light {
  0% {
    filter: drop-shadow(0px 0px 6px rgba(19, 43, 255, 0));
  }
  10% {
    filter: drop-shadow(0px 0px 6px rgb(48, 68, 255));
  }
  30% {
    filter: drop-shadow(0px 0px 6px rgba(19, 43, 255, 0));
  }
  50% {
    filter: drop-shadow(0px 0px 6px rgb(48, 68, 255));
  }
  60% {
    filter: drop-shadow(0px 0px 6px rgba(19, 43, 255, 0));
  }
  65% {
    filter: drop-shadow(0px 0px 6px rgb(48, 68, 255));
  }
  68% {
    filter: drop-shadow(0px 0px 6px rgba(19, 43, 255, 0));
  }
  71% {
    filter: drop-shadow(0px 0px 6px rgb(48, 68, 255));
  }
  72% {
    filter: drop-shadow(0px 0px 6px rgba(19, 43, 255, 0));
  }
  80% {
    filter: drop-shadow(0px 0px 6px rgb(48, 68, 255));
  }
  90% {
    filter: drop-shadow(0px 0px 6px rgba(19, 43, 255, 0));
  }
}

.midleft {
  width: 10%;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: center;
  gap: 30px;
  line-height: normal;
  text-wrap: nowrap;
}

.rotate-left {
  transform: rotate(-180deg);
}

.rotate-right {
  transform: rotate(180deg);
}

.techno {
  padding-top: 50px;
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  max-height: 80%;
}

.technoimg {
  transform: translateY(-15px);
  width: 90%;
  filter: drop-shadow(10px 10px 8px rgba(53, 61, 130, 0.2));
}

.midright {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: end;
  align-items: flex-start;
  width: 10%;
  height: 100%;
  padding-top: 20px;
  padding-right: 5px;
}

.arrowimg {
  height: 20%;
}

.bottom {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 20vh;
}

.bottomquote {
  display: flex;
  flex-wrap: wrap;
  width: 25%;
  height: 100%;
  text-align: justify;
  text-align-last: justify;
  font-size: 2.2vh;
  font-family: "Fugaz One", sans-serif;
  font-weight: 400;
  font-style: normal;
  line-height: 100%;
  text-transform: uppercase;
}

.events {
  overflow: hidden;
  box-sizing: border-box;
  display: flex;
  max-width: 63%;
  height: 100%;
  align-items: center;
  flex-direction: row;
  flex-wrap: nowrap;
}

.event {
  height: 90%;
  min-width: 220px;
  text-align: justify;
  text-align-last: justify;
  line-height: 100%;
  word-spacing: 20px;
  margin-right: 30px;
}

.loop1 {
  display: inline-block;
  animation: loop1 10s linear infinite;
}

.loop2 {
  display: inline-block;
  animation: loop2 10s linear infinite;
  animation-delay: 5s;
}

@keyframes loop1 {
  0% {
    transform: translateX(380%);
  }
  100% {
    transform: translateX(-450%);
  }
}

@keyframes loop2 {
  0% {
    transform: translateX(-38%);
  }
  100% {
    transform: translateX(-868%);
  }
}

/* @keyframes loop1 {
  0% {
    transform: translateX(550%);
  }
  100% {
    transform: translateX(-700%);
  }

  @keyframes loop2 {
  0% {
    transform: translateX(-35%);
  }
  100% {
    transform: translateX(-860%);
  }
}
} */

.note {
  position: absolute;
  width: 100px;
  line-height: 150%;
  top: 67%;
  left: 82%;
  cursor: none;
}

.contact:hover,
.address:hover,
.qrimg:hover,
.arrowimg:hover,
h2:hover,
h4:hover,
.bottomquote:hover {
  animation: hover 1s ease-in-out;
}

@keyframes hover {
  0% {
    transform: translateX(10px);
    transform: translateY(10px);
  }
  50% {
    transform: translateX(0px);
    transform: translateY(0px);
  }
  75% {
    transform: translateX(5px);
    transform: translateY(5px);
  }
  100% {
    transform: translateX(0px);
    transform: translateY(0px);
  }
}

/* ---------------------RESERVATION---------------------- */

.flors {
  display: flex;
  flex-direction: row;
  max-height: 80%;
  justify-content: space-between;
  align-items: start;
}

svg {
  max-height: 100%;
}
