@import url("https://fonts.googleapis.com/css2?family=Fugaz+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Stint+Ultra+Expanded&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Stalinist+One&display=swap");

html {
  --neon: rgb(21, 0, 255);
  --neonred: rgb(151, 0, 53);
  --black: #000814;
  --white: rgb(245, 245, 245);
}

/* --neon: rgba(48, 68, 255, 1); */

body {
  box-sizing: border-box;
  padding: 20px;
  margin: 0;
  background: linear-gradient(
    180deg,
    rgb(255, 255, 255) 0%,
    rgb(191, 231, 250) 100%
  );
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  color: var(--black);
}

section {
  z-index: 1;
  box-sizing: border-box;
  height: calc(100vh - 40px);
  width: calc(100vw - 40px);
  display: flex;
  padding: 15px;
  border: 1px;
  border-radius: 14px;
  border-style: solid;
  flex-direction: column;
  line-height: 0%;
  justify-content: space-between;
}

a {
  all: unset;
}

h1 {
  font-size: max(9vh);
  margin: 0;
  font-family: "Fugaz One", sans-serif;
  font-weight: 400;
  font-style: normal;
  text-wrap: wrap;
  line-height: 80%;
}

h2 {
  font-size: 28px;
  margin: 0;
  font-family: "Fugaz One", sans-serif;
  font-weight: 400;
  font-style: normal;
  line-height: normal;
  text-transform: uppercase;
  text-align: justify;
}

h3 {
  font-family: "Stint Ultra Expanded", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1.8vh;
}

h4 {
  font-family: "Stalinist One", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  text-align: justify;
}

.pointer {
  cursor: pointer;
}

.pointer:hover {
  filter: drop-shadow(3px 3px 0px var(--neon));
}

.merge {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  justify-content: space-between;
}

.outline {
  border: 1.5px;
  border-radius: 24px;
  border-style: solid;
  padding-inline: 15px;
  padding-block: 10px;
  text-wrap: nowrap;
  background-color: rgb(0, 0, 0, 0);
  width: auto;
  text-align: center;
}

@keyframes light {
  0% {
    filter: drop-shadow(0px 0px 6px rgba(19, 43, 255, 0));
  }
  10% {
    filter: drop-shadow(0px 0px 6px var(--neon));
  }
  30% {
    filter: drop-shadow(0px 0px 3px var(--neon));
  }
  50% {
    filter: drop-shadow(0px 0px 6px var(--neon));
  }
  60% {
    filter: drop-shadow(0px 0px 6px rgba(19, 43, 255, 0));
  }
  65% {
    filter: drop-shadow(0px 0px 6px var(--neon));
  }
  68% {
    filter: drop-shadow(0px 0px 6px rgba(19, 43, 255, 0));
  }
  71% {
    filter: drop-shadow(0px 0px 6px var(--neon));
  }
  72% {
    filter: drop-shadow(0px 0px 6px rgba(19, 43, 255, 0));
  }
  80% {
    filter: drop-shadow(0px 0px 6px var(--neon));
  }
  90% {
    filter: drop-shadow(0px 0px 6px rgba(19, 43, 255, 0));
  }
}

.contact:hover,
.address:hover,
.qrimg:hover,
.midpart .arrowimg:hover,
.midpart h2:hover,
.midpart h4:hover,
.bottom h2:hover,
.note h4:hover,
.bottomquote:hover {
  animation: hover 1s ease-in-out;
}

@keyframes hover {
  0% {
    transform: translateX(10px);
    transform: translateY(10px);
  }
  50% {
    transform: translateX(0px);
    transform: translateY(0px);
  }
  75% {
    transform: translateX(5px);
    transform: translateY(5px);
  }
  100% {
    transform: translateX(0px);
    transform: translateY(0px);
  }
}
input[type="date"] {
  width: 90%;
}

.user-input {
  all: unset;
  background-color: var(--black);
  box-sizing: border-box;
  min-height: 50px;
  max-width: 90%;
  max-width: max(50%, 250px);
  transform: skew(-20deg);
  margin: 10px;
  padding-inline: 30px;
  color: var(--white);
  font-family: "Stalinist One", sans-serif;
  font-style: normal;
  font-size: 16px;
}

.user-input::placeholder {
  color: var(--white);
}

.user-input:focus {
  filter: drop-shadow(0px 0px 3px var(--neon));
}

.expired {
  opacity: 40%;
}

.cross-line {
  position: absolute;
  top: 0;
  left: 0;
  height: 5px;
  background-color: var(--black);
  transform-origin: 0 0;
  pointer-events: none;
}

.hide {
  display: none;
}

/* -------------------------------------------------- */

@media (max-width: 768px) {
  h1 {
    font-size: 8vw;
  }

  h2 {
    font-size: 3.5vw;
  }

  h3 {
    font-size: 3.2vw;
  }
}

@media (max-width: 768px) {
  h3 {
    font-size: 1.8vh;
  }

  .user-input {
    min-height: 40px;
    font-size: 12px;
  }
}

@media (max-width: 425px) {
  .user-input {
    min-height: 40px;
    max-width: 80%;
    font-size: 12px;
  }
}
